<!-- Home Content -->

<!--Feature Section -->
<section class="feature">
    <div class="feature-content">
        <div class="row">
            <div class="row-img">
                <img src="assets/img/f1.jpg">
            </div>
            <h4>Jammu</h4>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/img/f5.png">
            </div>
            <h4>Delhi</h4>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/img/f2.png">
            </div>
            <h4>Mumbai</h4>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/img/f3.png">
            </div>
            <h4>Agra</h4>
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/img/f4.png">
            </div>
            <h4>Jaipur</h4>
        </div> 
    </div>
</section>
<br>
<hr class=mid-line>

<!--Holiday Section -->
<section class="holiday">
    <div class="holiday-img">
        <img src="../../assets/img/Pune.png">
    </div>

    <div class="holiday-text">
        <h5>Pune</h5>
        <h2>Have you enjoyed holiday!   </h2>
        <p>You will be amazed if you take part in this following
            part of tour package. The beautiful scenarios will make you meet many travelers from other 
            countries.
        </p>
        <a routerLink="/destination" class="btn">Read more</a>
    </div>
</section>

