<br><br>
<div class="container-fluid text-center">
	<h2>Cashback's & Offer's</h2>
  </div>
  <br><br>
	<div class="slider">
	<input type="radio" name="testimonial" id="t-1">
	<input type="radio" name="testimonial" id="t-2">
	<input type="radio" name="testimonial" id="t-3" checked>
	<input type="radio" name="testimonial" id="t-4">
	<input type="radio" name="testimonial" id="t-5">
	<div class="testimonials">
		<label class="item" for="t-1">
			<div class="d-flex card text-center" id="card1">
                <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="100"></div>
                <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                <h1>50% OFF</h1><span class="d-block">On Everything</span><span class="d-block">Today</span>
                <div class="mt-4"><small>With Code : firstTimeUser1547</small></div>
            </div>
		</label>
		<label class="item" for="t-2">
			<div class="d-flex card text-center" id="card2">
                <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="100"></div>
                <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                <h1>50% OFF</h1><span class="d-block">On Everything</span><span class="d-block">Today</span>
                <div class="mt-4"><small>With Code : firstTimeUser1547</small></div>
            </div>
		</label>
		<label class="item" for="t-3">
			<div class="d-flex card text-center" id="card3">
                <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="100"></div>
                <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                <h1>50% OFF</h1><span class="d-block">On Everything</span><span class="d-block">Today</span>
                <div class="mt-4"><small>With Code : firstTimeUser1547</small></div>
            </div>
		</label>
		<label class="item" for="t-4">
			<div class="d-flex card text-center" id="card4">
                <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="100"></div>
                <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                <h1>50% OFF</h1><span class="d-block">On Everything</span><span class="d-block">Today</span>
                <div class="mt-4"><small>With Code : firstTimeUser1547</small></div>
            </div>
		</label>
		<label class="item" for="t-5">
			<div class="d-flex card text-center" id="card5">
                <div class="image"><img src="https://i.imgur.com/DC94rZe.png" width="100"></div>
                <div class="image2"><img src="https://i.imgur.com/DC94rZe.png" width="150"></div>
                <h1>50% OFF</h1><span class="d-block">On Everything</span><span class="d-block">Today</span>
                <div class="mt-4"><small>With Code : firstTimeUser1547</small></div>
            </div>
		</label>
	</div>
	<br/>
	<div class="dots">
		<label for="t-1"></label>
		<label for="t-2"></label>
		<label for="t-3"></label>
		<label for="t-4"></label>
		<label for="t-5"></label>
	</div>
</div>
<br>
<app-footer></app-footer>